<!DOCTYPE html>

<html>

<head>
        <title>ABOUT</title>
 <link rel="icon" href="/img/weather.jpeg">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div class="main-content">
         {{>header}}
    
    <h1>ABOUT FROM PUBLIC DIRECTORY </h1> 
    </div>
    
    <p>Created by {{>footer}}</p>
    
</body>



</html>